.mui-title{
	color: #FA4B9B !important;
}
.mui-icon-left-nav{
	color: #FA4B9B !important;
}
.mui-table-view-chevron{
	margin-bottom: 20px;
}
.mui-bar-nav button{
	color: #FA4B9B !important;
}
.mui-bar .mui-icon{
	color: #FA4B9B !important;
}
a{
	color: #FA4B9B;
}
.pull-left{
	line-height: 46px;
	color: #FA4B9B;
}
.mui-table-view{
	margin-top: 15px;
}
.mui-table-view-divider{
	font-size: 13px;
}
